<div class="card" data-controller="criterios_competicaos" data-criterios_competicaos-action-form="edit">
	<div class="card-header">
		<h4 class="card-title">Criterios Competicao</h4>
	</div>
	<%= render 'form' %>
</div>