<div class="card" data-controller="cluster_criterios_avaliacaos" data-cluster_criterios_avaliacaos-action-form="new">
	<div class="card-header">
		<h4 class="card-title">Cluster Criterios Avaliacao</h4>
	</div>
	<%= render 'form' %>
</div>