<div class="card" data-controller="parametro_inscricaos" data-parametro_inscricaos-action-form="edit">
	<div class="card-header">
		<h4 class="card-title">Parâmetro Inscrição</h4>
	</div>
	<%= render 'form' %>
</div>