<div class="card" data-controller="competicao_juris" data-competicao_juris-action-form="edit">
	<div class="card-header">
		<h4 class="card-title">Competicao Juri</h4>
	</div>
	<%= render 'form' %>
</div>