<div class="card" data-controller="competicaos_eventos" data-competicaos_eventos-action-form="new">
	<div class="card-header">
		<h4 class="card-title">Competição</h4>
	</div>
	<%= render 'form' %>
</div>