<div class="card" data-controller="catalogo_competicaos" data-catalogo_competicaos-action-form="new">
	<div class="card-header">
		<h4 class="card-title">Catalogo Competicao</h4>
	</div>
	<%= render 'form' %>
</div>