<div class="card" data-controller="<%= plural_table_name %>" data-<%= plural_table_name %>-action-form="new">
	<div class="card-header">
		<h4 class="card-title"><%= human_name.titlecase %></h4>
	</div>
	<%%= render 'form' %>
</div>