<div class="card" data-controller="inscricaos_competicaos" data-inscricaos_competicaos-action-form="edit">
	<div class="card-header">
		<h4 class="card-title">Inscricaos Competicao</h4>
	</div>
	<%= render 'form' %>
</div>