<img src="/LOGO_1.png" alt="logo-campolina" style="max-width: 6% !important">

<div class="card" data-controller="inscricaos_competicaos" data-inscricaos_competicaos-action-form="new">
	<div class="card-header">
		<h4 class="card-title">Por favor, confirme sua Inscrição</h4>
	</div>
	<%= render 'form' %>
</div>