<div class="card" data-controller="criterios_avaliacaos" data-criterios_avaliacaos-action-form="new">
	<div class="card-header">
		<h4 class="card-title">Criterios Avaliacao</h4>
	</div>
	<%= render 'form' %>
</div>