<footer class="footer footer-black  footer-white ">
  <div class="container-fluid">
    <div class="row">
      <nav class="footer-nav">
        <ul>
          <li>
            Copyright © 2020 - <%= Date.today.year %> | <a href="http://www.elevatech.com.br" target="_blank">Eleva Tecnologia</a>
          </li>
        </ul>
      </nav>
      <div class="credits ml-auto">
        <span class="copyright">
          <%# <br> %>
            <%# <i class="fa fa-heart heart"></i> %>
        </span>
      </div>
    </div>
  </div>
</footer>